.banner {
  background: url(../../../assets/banner-img.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .container {
  min-height: 500px;
  max-height: 100%;
}
.banner .container h1 {
  text-transform: capitalize;
}
.banner .row {
  gap: 1rem;
}
.reviews .row{
  row-gap: 2rem;
}
.reviews .cards .card-wrap{
 padding: 15px;
 border: 1px solid black;
 height: 100%;
}